# Impact of Weather Conditions on Air Quality - Data Wrangling

## By Okonkwo Chukwuebuka Malcom

![](https://techcommunity.microsoft.com/t5/image/serverpage/image-id/433811i68D426D8793B6B4B/image-size/large?v=v2&px=999)

.

## INTRODUCTION

### Project Context
A company in the environmental consulting industry is seeking to analyze the air quality in a specific city during hot and cold weather, during high-wind conditions and during precipitation. They are interested in making recommendations to the government and businesses in the region on how to mitigate the impact of weather conditions on air quality.  

 

As a Data Analyst, you are expected to analyze the data provided, seek insights and make recommendations to achieve the set objectives.

Additionally, kindly use this dataset to analyze the historical impact of weather conditions on air quality, and make predictions on air quality during specific weather conditions. This information could be used to inform emergency response plans and prepare for potential air quality issues.

[Link to the Challenge](https://techcommunity.microsoft.com/t5/educator-developer-blog/data-analysis-challenge-impact-of-weather-conditions-on-air/ba-p/3719570?WT.mc_id=academic-00000-ooyinbooke)

### Dataset Description 

The dataset contains 43824 rows and 13 columns abd the data time period is between Jan 1st, 2010 to Dec 31st, 2014. Missing data are denoted as NA.

### Column Definition
- No: row number
- year: year of data in this row
- month: month of data in this row
- day: day of data in this row
- hour: hour of data in this row
- pm2.5: PM2.5 concentration (ug/m^3)
- DEWP: Dew Point (â„ƒ)
- TEMP: Temperature (â„ƒ)
- PRES: Pressure (hPa)
- cbwd: Combined wind direction
- Iws: Cumulated wind speed (m/s)
- Is: Cumulated hours of snow
- Ir: Cumulated hours of rain

.

## IMPORTING LIBRARIES AND LOADING DATASETS

This Project Wrangling & Analysis would be done using Python with the aid of some of its packages, which would be imported. The dataset is also loaded into a dataframe

In [25]:
# Importing the pyhton packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import calendar
from windrose import WindroseAxes

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [26]:
# Loading the dataset into a dataframe
weather = pd.read_csv("PRSA_data_2010.1.1-2014.12.31.csv")

#to display the first five rows 
print(weather.head())

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [27]:
# to confirm the shape of the data
print(weather.shape)

(43824, 13)

.

## Data Wrangling

This is going to be done in 2 major steps
1. Assessing the Data
2. Data Cleaning

 ### Assessing the Data
 
 This step requires visually examining or programmatically examining the data for data quality issues.

In [28]:
# to observe the first 10 rows of the data
print(weather.head(10))

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0
5   6  2010      1    1     5    NaN   -19 -10.0  1017.0   NW  16.10   0   0
6   7  2010      1    1     6    NaN   -19  -9.0  1017.0   NW  19.23   0   0
7   8  2010      1    1     7    NaN   -19  -9.0  1017.0   NW  21.02   0   0
8   9  2010      1    1     8    NaN   -19  -9.0  1017.0   NW  24.15   0   0
9  10  2010      1    1     9    NaN   -20  -8.0  1017.0   NW  27.28   0   0

**To check for duplicate records**

In [29]:
# to print out the sum of duplicate rows in the data
duplicate = sum(weather.duplicated())

print(f'There are {duplicate} duplicate records')

There are 0 duplicate records

**To check the data types of the columns**

In [30]:
weather.dtypes

No         int64
year       int64
month      int64
day        int64
hour       int64
pm2.5    float64
DEWP       int64
TEMP     float64
PRES     float64
cbwd      object
Iws      float64
Is         int64
Ir         int64
dtype: object

**To get the information about the Dataframe**

In [31]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      43824 non-null  int64
 1   year    43824 non-null  int64
 2   month   43824 non-null  int64
 3   day     43824 non-null  int64
 4   hour    43824 non-null  int64
 5   pm2.5   41757 non-null  float64
 6   DEWP    43824 non-null  int64
 7   TEMP    43824 non-null  float64
 8   PRES    43824 non-null  float64
 9   cbwd    43824 non-null  object
 10  Iws     43824 non-null  float64
 11  Is      43824 non-null  int64
 12  Ir      43824 non-null  int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB

**To Check the fields for null values**

In [32]:
null_columns = weather.columns[weather.isnull().any()]

print(f'The columns with null values are {list(null_columns)}')

The columns with null values are ['pm2.5']

**To observe random samples of the data**

In [33]:
weather.sample(10)

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
12538,12539,2011,6,7,10,231.0,17,30.0,997.0,SE,3.58,0,0
18940,18941,2012,2,29,4,202.0,-8,-5.0,1020.0,SE,0.89,0,0
16898,16899,2011,12,6,2,247.0,0,0.0,1031.0,NW,5.37,5,0
31083,31084,2013,7,19,3,141.0,20,23.0,1002.0,cv,2.67,0,0
42632,42633,2014,11,12,8,4.0,-19,4.0,1026.0,NW,202.97,0,0
12454,12455,2011,6,3,22,45.0,5,26.0,1006.0,SE,9.39,0,0
29731,29732,2013,5,23,19,89.0,12,26.0,1007.0,SE,18.78,0,0
24431,24432,2012,10,14,23,109.0,7,14.0,1020.0,cv,64.08,0,0
11581,11582,2011,4,28,13,105.0,4,22.0,1005.0,SE,3.13,0,0
41735,41736,2014,10,5,23,34.0,4,13.0,1027.0,cv,0.89,0,0

**To observe the Combined Wind Direction (cbwd) column**

In [34]:
#checking for the unique values in the cbwd column
weather['cbwd'].unique()

array(['NW', 'cv', 'NE', 'SE'], dtype=object)

**To check for the Descriptive Statistics of the columns**

In [35]:
weather.describe()

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,Iws,Is,Ir
count,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,41757.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000,43824.000000
mean,21912.500000,2012.000000,6.523549,15.727820,11.500000,98.613215,1.817246,12.448521,1016.447654,23.889140,0.052734,0.194916
std,12651.043435,1.413842,3.448572,8.799425,6.922266,92.050387,14.433440,12.198613,10.268698,50.010635,0.760375,1.415867
min,1.000000,2010.000000,1.000000,1.000000,0.000000,0.000000,-40.000000,-19.000000,991.000000,0.450000,0.000000,0.000000
25%,10956.750000,2011.000000,4.000000,8.000000,5.750000,29.000000,-10.000000,2.000000,1008.000000,1.790000,0.000000,0.000000
50%,21912.500000,2012.000000,7.000000,16.000000,11.500000,72.000000,2.000000,14.000000,1016.000000,5.370000,0.000000,0.000000
75%,32868.250000,2013.000000,10.000000,23.000000,17.250000,137.000000,15.000000,23.000000,1025.000000,21.910000,0.000000,0.000000
max,43824.000000,2014.000000,12.000000,31.000000,23.000000,994.000000,28.000000,42.000000,1046.000000,585.600000,27.000000,36.000000

.

### Data Cleaning

After assessing the data, I discovered some data quality issues in the dataset and the cleaning steps are documented below

In [36]:
# to create a copy of the dataset which is used to save the original
weather_copy = weather.copy()

- **To create a "Date" column using the year, month and day columns and change the Datatype to Datetime**

In [37]:
cols=["year","month","day"]
date = weather[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")

# insert the data in the 5th column index
weather.insert(5, 'date', date)

#to change the datatype of the date column
weather['date']=pd.to_datetime(weather['date'])


# to check if the changes were made
print(weather.columns)
print(weather.head())

Index(['No', 'year', 'month', 'day', 'hour', 'date', 'pm2.5', 'DEWP', 'TEMP',
       'PRES', 'cbwd', 'Iws', 'Is', 'Ir'],
      dtype='object')
   No  year  month  day  hour       date  pm2.5  DEWP  TEMP    PRES cbwd  \
0   1  2010      1    1     0 2010-01-01    NaN   -21 -11.0  1021.0   NW
1   2  2010      1    1     1 2010-01-01    NaN   -21 -12.0  1020.0   NW
2   3  2010      1    1     2 2010-01-01    NaN   -21 -11.0  1019.0   NW
3   4  2010      1    1     3 2010-01-01    NaN   -21 -14.0  1019.0   NW
4   5  2010      1    1     4 2010-01-01    NaN   -20 -12.0  1018.0   NW

     Iws  Is  Ir
0   1.79   0   0
1   4.92   0   0
2   6.71   0   0
3   9.84   0   0
4  12.97   0   0

.

- **Handle the Null values in the PM2.5 column**

To first check how many null values are in the PM2.5 column

In [38]:
null_values = weather['pm2.5'].isna().sum()

print(f'There are {null_values} null values in the pm2.5 column')

There are 2067 null values in the pm2.5 column

In [39]:
# to observe the rows of null values in pm2.5
null = weather['pm2.5'].isna()

weather[null]

,No,year,month,day,hour,date,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,2010-01-01,NaN,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,2010-01-01,NaN,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,2010-01-01,NaN,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,2010-01-01,NaN,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,2010-01-01,NaN,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43548,43549,2014,12,20,12,2014-12-20,NaN,-18,0.0,1030.0,NW,244.97,0,0
43549,43550,2014,12,20,13,2014-12-20,NaN,-19,1.0,1029.0,NW,249.89,0,0
43550,43551,2014,12,20,14,2014-12-20,NaN,-20,1.0,1029.0,NW,257.04,0,0
43551,43552,2014,12,20,15,2014-12-20,NaN,-20,2.0,1028.0,NW,262.85,0,0
43552,43553,2014,12,20,16,2014-12-20,NaN,-21,1.0,1028.0,NW,270.00,0,0

The null values would be replaced using Forward fill method and Backward fill for the remaining null values. There are other ways to handle null values which could be found in this article [Dealing With Missing Values in Python – A Complete Guide](https://www.analyticsvidhya.com/blog/2021/05/dealing-with-missing-values-in-python-a-complete-guide/)

In [40]:
# to replace the null values in the pm2.5 column with the forward fill methond and backward fill method
weather['pm2.5'] = weather['pm2.5'].ffill().bfill()

In [41]:
# to check if the changes were made 
null_values = weather['pm2.5'].isna().sum()

print(f'There are {null_values} null values in the pm2.5 column')

There are 0 null values in the pm2.5 column

.

- **The presence of CV in the cbwd column**

In [42]:
# to check the unique values in the cbwd column
weather['cbwd'].unique()

array(['NW', 'cv', 'NE', 'SE'], dtype=object)

According to [Windy,app](https://windy.app/blog/what-is-wind-direction.html#:~:text=In%20the%20beginning%2C%20there%20are,north%20and%20south%20poles%2C%20respectively.), There are four combined wind direction which are northeast (NE), southeast (NW), southwest (SW), and northwest (NW). I believe that 'cv' was a data entry error and it would be replaced with southwest (SW).

In [43]:
# to change cv to SW in the cbwd column
weather['cbwd'].replace(to_replace="cv",
           value="SW", inplace = True)

#to check if the change was made
weather['cbwd'].unique()

array(['NW', 'SW', 'NE', 'SE'], dtype=object)

.

- **Converting the unit of Pressure from hPa to atm (SI unit of atmospheric pressure)**

The PRES column which is the pressure of the atmosphere is in hPa units (Hectopascal). This would be convert to atm which is the standard unit for measuring pressure. According to [Unit Converter](https://www.unitconverters.net/pressure/hectopascal-to-standard-atmosphere.htm), `1hPa = 0.000987 atm`

This would be used to perform the conversion

In [44]:
# to carry out the conversion
pressure = weather['PRES'] * 0.000987

weather.insert(10, 'atm_pressure', pressure)

# to check if it worked
print(weather.columns)
print(weather.head())

Index(['No', 'year', 'month', 'day', 'hour', 'date', 'pm2.5', 'DEWP', 'TEMP',
       'PRES', 'atm_pressure', 'cbwd', 'Iws', 'Is', 'Ir'],
      dtype='object')
   No  year  month  day  hour       date  pm2.5  DEWP  TEMP    PRES  \
0   1  2010      1    1     0 2010-01-01  129.0   -21 -11.0  1021.0
1   2  2010      1    1     1 2010-01-01  129.0   -21 -12.0  1020.0
2   3  2010      1    1     2 2010-01-01  129.0   -21 -11.0  1019.0
3   4  2010      1    1     3 2010-01-01  129.0   -21 -14.0  1019.0
4   5  2010      1    1     4 2010-01-01  129.0   -20 -12.0  1018.0

   atm_pressure cbwd    Iws  Is  Ir
0      1.007727   NW   1.79   0   0
1      1.006740   NW   4.92   0   0
2      1.005753   NW   6.71   0   0
3      1.005753   NW   9.84   0   0
4      1.004766   NW  12.97   0   0

.

- **Grouping the months into season**

There are four seasons which 
- Autumn (September - November)
- Spring (March - May)
- Summer (June - August)
- Winter (December - February)

So for this data cleaning step, I had to Create a function to convert a month number to the season

In [45]:
# to convert from month number to season
def find_season(month):
    season_month = {
        12:'Winter', 1:'Winter', 2:'Winter',
        3:'Spring', 4:'Spring', 5:'Spring',
        6:'Summer', 7:'Summer', 8:'Summer',
        9:'Autumn', 10:'Autumn', 11:'Autumn'}
    return season_month.get(month)

season_list = []
for month in weather['month']:
    season = find_season(month)
    season_list.append(season)
    
weather['Season'] = season_list

In [46]:
# to check if it worked
weather.head()

,No,year,month,day,hour,date,pm2.5,DEWP,TEMP,PRES,atm_pressure,cbwd,Iws,Is,Ir,Season
0,1,2010,1,1,0,2010-01-01,129.0,-21,-11.0,1021.0,1.007727,NW,1.79,0,0,Winter
1,2,2010,1,1,1,2010-01-01,129.0,-21,-12.0,1020.0,1.006740,NW,4.92,0,0,Winter
2,3,2010,1,1,2,2010-01-01,129.0,-21,-11.0,1019.0,1.005753,NW,6.71,0,0,Winter
3,4,2010,1,1,3,2010-01-01,129.0,-21,-14.0,1019.0,1.005753,NW,9.84,0,0,Winter
4,5,2010,1,1,4,2010-01-01,129.0,-20,-12.0,1018.0,1.004766,NW,12.97,0,0,Winter

.

- **To extract the month name from the month number**

In [47]:
# to convert month number to month name 
weather['month_name'] = weather['month'].apply(lambda x: calendar.month_abbr[x])


# to check if it worked
weather['month_name'].unique()

array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'], dtype=object)

.

- **Dropping the first column**

The first column doesnt have any use case in the anakysis so the column would be dropped

In [48]:
# dropping the 'No' column
weather = weather.drop('No', axis=1)

# to check if it worked 
weather.columns

Index(['year', 'month', 'day', 'hour', 'date', 'pm2.5', 'DEWP', 'TEMP', 'PRES',
       'atm_pressure', 'cbwd', 'Iws', 'Is', 'Ir', 'Season', 'month_name'],
      dtype='object')

To save the cleaned dataframe to a different file

In [49]:
weather.to_csv('cleaned_weather.csv')

.